* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* ================================== COMMON ================================== */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

/* ================================== Header ================================== */
.header {
    background: #FFFCF4;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav {

    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    padding: 0px 21px 10px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .nav a:hover {
    color: #171100;
    font-weight: 600;
}

.header .active {
    position: relative;
}

.header .active::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    bottom: 0;
    left: 0;
}

.header .action-btn {
    min-width: 144px;
    padding: 11px 16px;
    margin-left: 49px;
    border-radius: 24.5px;
    background: #171100;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    text-align: center;
}